<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad 🦀 Lib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the blanks to create a new theme song for your favorite under-the-sea creature!/h1>
    <form action="/madlib" method="post">
      <label for="collectiveNoun">Enter a collective noun (e.g. crowd, group, gang): </label>
      <input id="collectiveNoun" name="collectiveNoun" type="text">
      <label for="thing">Name a thing: </label>
      <input id="thing" name="thing" type="text">
      <label for="kitchenUtensil">Think of a kitchen utensil: </label>
      <input id="kitchenUtensil" name="kitchenUtensil" type="text">
      <label for="name">Give us a name: </label>
      <input id="name" name="name" type="text">
      <label for="shape">Enter a shape: </label>
      <input id="shape" name="shape" type="text">
      <label for="clothingItem">A piece of clothing?: </label>
      <input id="clothingItem" name="clothingItem" type="text">
      <label for="color">Name a color: </label>
      <input id="color" name="color" type="text">
      <label for="seaCreature">and finally, think of a sea creature: </label>
      <input id="seaCreature" name="seaCreature" type="text">
      <button type="submit">Go!</button>
    </form>
  </body>
</html>

shape 
clothing item
color
sea creature


